<%= turbo_frame_tag "answer" do %>
    <%= form_with(model: answer) do |form| %>
      <div id="<%= dom_id answer %>" class="flex-auto flex flex-col justify-center">
        <%= form.hidden_field :respondent_id, value: @respondent.id, hidden: true %>

        <%= form.fields_for :question_answer do |form_qa| %>
          <%= form_qa.text_field :question_id, hidden: true %>
        <% end %>

        <div>
          <%= form.text_area :text, require: true %>
        </div>

        <div>
          <%= form.submit "answer", class: "bg-green-500 hover:bg-green-400 text-white rounded px-4 py-2" %>
        </div>
      </div>
    <% end %>
<% end %>
