<div class="grid grid-cols-4 auto-rows-auto gap-4">
  <div class="col-span-4">
    <p style="color: green"><%= notice %></p>
  </div>

  <div class="col-span-4">
    <h1 class="text-5xl text-center">Answers</h1>
    <div class="text-center"> you: <span class="text-green-700"><%= @respondent.name %><span> </div>
  </div>

  <% @respondents.each do |respondent| %>
    <div class="h-48 p-6 bg-white rounded-xl shadow-lg items-center space-y-4 flex flex-col items-center">
      <div class="flex-auto flex flex-col justify-center">
        <p class="text-neutral-500">
        <% if respondent.answers.blank? %>
          <% if @respondent.id == respondent.id %>
            <%= render respondent.answers.build %>
          <% else %>
            未回答
          <% end %>
        <% else %>
          <% if @respondent.id == respondent.id %>
            <%= render respondent.answers&.first %>
          <% else %>
            <%= respondent.answers&.first&.text || "未回答" %>
          <% end %>
        <% end %>
        </p>
      </div>
      <div class="basis-2/12">
        <%= content_tag(:p, respondent.name, class: @respondent.id == respondent.id ? "text-green-700" : "") %>
      </div>
    </div>
  <% end %>
</div>
